@mixin nav-style {
    outline: none;
    font-size: 20px;
    height: 100%;
    box-sizing: border-box;
}


.nav-bar {
    height: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    width: 700px;
    height: 40px;

    .nav-bar__input {
        width: 100%;
        background-color: transparent;
        border: 3px solid #ccc;
        padding: 10px;
        margin-right: 5px;
        @include nav-style;

        &:focus {
            border: 3px solid #555;
        }
    }

    .nav-bar__btn {
        width: 130px;
        background: rgb(0, 119, 255);
        border: 3px solid rgb(0, 119, 255);
        @include nav-style;

        &:hover {
            border: 3px solid rgb(18, 1, 82);
        }
    }
}